* {
  margin: 0;
  padding: 0;
  z-index: -10;
}
.text {
  text-align: center;
  font-size: 6rem;
  z-index: -1;
  margin-top: 50px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 8px;
  margin-left: 65px;
  color: red;
}
.container {
  height: 250px;
  width: 250px;
  border: 10px solid #808080;
  border-radius: 50%;
  margin-left: 300px;
  margin-top: 150px;
  z-index: 10;
}
.box1 {
  height: 250px;
  width: 250px;
  border: 10px solid #808080;
  border-radius: 50%;
  margin-left: 170px;
  margin-top: -9px;
}
.box2 {
  height: 250px;
  width: 250px;
  border: 10px solid #808080;
  border-radius: 50%;
  margin-left: 354px;
  margin-top: -267px;
}
.box3 {
  height: 250px;
  width: 250px;
  border: 10px solid #808080;
  border-radius: 50%;
  margin-left: 537px;
  margin-top: -269px;
}
.box {
  box-sizing: border-box;
  margin-top: -80px;
  z-index: 100;
}
